repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-ast
      - id: check-added-large-files
  # Fish
  - repo: local
    hooks:
      - id: fish_syntax
        name: Fish syntax check
        description: Check Fish shell syntax
        entry: fish --no-execute
        language: system
        files: "(fish)"
      - id: fish_indent
        name: Fish indent check
        description: Check Fish shell indentation
        entry: fish_indent --write
        language: system
        files: "(fish)"
  # Misc
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
      - id: insert-license
        args: [--license-filepath, LICENSE_BOILERPLATE, "--detect-license-in-X-top-lines=20"]
        exclude: '^(.github)'
  # Python
  - repo: local
    hooks:
      - id: codespell
        name: Check for misspellings
        description: Checks for common misspellings in text files
        types: [text]
        entry: poetry run codespell
        args: [-H, -f, --builtin, clear, rare, informal, usage, code]
        language: system
      - id: black
        name: Format python code
        description: Automatically format code to follow the black code style
        types_or: [python, pyi]
        entry: poetry run black
        language: system
      - id: isort
        name: Sort python imports
        description: Automatically sort import statements
        types_or: [cython, pyi, python]
        entry: poetry run isort
        args: ["--py=auto", "--balanced", "-p=cmds", "-p=api", "-o=rich", "-o=requests", "--filter-files"]
        language: system
      - id: pyupgrade
        name: Check for old python syntax
        description: Automatically upgrade syntax for newer versions.
        types: [python]
        entry: poetry run pyupgrade
        args: [--py36-plus]
        language: system
      - id: mypy
        name: Type check python code
        description: Static type checker for Python
        entry: poetry run mypy
        language: system
        types_or: [python, pyi]
        args: ["--ignore-missing-imports", "--strict", "--pretty", "--show-error-context", "--show-column-numbers", "--show-error-codes"]
# vim:set ft=yaml ts=2 sw=2 et:
