name: test install script
on: [pull_request]
jobs:
  test:
    runs-on: [unbuntu-20.04]
        image: ghcr.io/pacstall/pacstall:latest
    steps:
      - name: remote-bash
        uses: shinhwagk/remote-bash@0.0.1
        with:
          args:
        env:
          REMOTE_BASH_URL: https://gist.githubusercontent.com/Henryws/d20ffad301c9f83f9c9f6243553c961a/raw/24aaa431496ca716ace4646f8354ed7f84349c05/pacstall-install-and-install-something-long-file-name.sh
