name: Rust

on:
  push:
    branches: ["rs"]
  pull_request:
    branches: ["rs"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup deps
        run: sudo apt install -y libapt-pkg-dev
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
